/* Pour le format A4 */
body{
    margin: 0 auto;
    width: 210mm;
    height: 297mm;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    
    
}


/* padding pour espace supplémentaire à l'intérieur d'un élément et  margin pour
 espace supplémentaire à l'extérieur de l'élément */
*{
    /* padding: 5;
    margin: 5; */
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    
}

/*  le syle du contenu, dispositon grid 
grid-template-columns propriété CSS définit les noms de ligne et les fonctions de dimensionnement des pistes des*/

main{
    
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
/* le style de la section gauche:
 couleur des ecriture en blanche, la hauteur à 100%,couleur de l'arrière plan en bleu*/
.left-section{
    color: white;
    grid-column: span 3;
    height: 100%;
    background-color: #417694;
    padding: 5px;
}
/* le style de la section droite:
couleur des ecriture en noir, la hauteur à 100%,couleur de l'arrière plan en banche 
et grid colonne pour specifie la taile de la colonne */
.right-section{
    color: black;
    grid-column: span 4;
    background-color: white;
    height: 100%;
    padding: 5px;
   
}
/* le style du liste */
li {
    list-style: square;

}
.contact ul li{
    list-style: none;
}
.reseau  ul li{
    list-style: none;
}


/* le style du titre4 */

h4{
    color:#417694;
    font-size: 24px;
    font-weight: b;
    
}
/* le style du titre2 */
h3{
    color: white;
   text-align: center;
}
/* le style du titre2*/
h2{
    color:black;
    font-weight: bold;
    text-shadow: 0 0 3px black
    
}
/* le style du photo:
 la largeur du photo est 100%, aligner au centre et arrondis à 50%*/

.photo{
    width: 100%;
    text-align: center;
}
.photo img{
    padding: 10px;
    width: 80%;
    border-radius: 50% ;
    
    
}
/* le style de la barre de progression */

.progress-bar{
    width: 50%;
    height: .4rem;
    background-color: black;
    position: relative;
    border-radius: 12px;
}
.progress{
    height: 100%;
    position: absolute;
    left: 0;
    background-color: white;
    border-radius: 12px;
}


.fr-progress{
    width: 70%;
}
.br-progress{
    width: 90%;
}

.en-progress{
    width: 40%;
}




/* les Media Querries*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    hr{
        margin: 40px;
    }
    body{
        font-size: 15px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    hr{
        margin: 40px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    hr{
        margin: 30px;
    }
    main{
        font-size: 15px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    hr{
        margin: 20px;
    }
    main{
        font-size: 15px;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    hr{
        margin: 10px;
    }
    main{
        font-size: 15px;
    }
  }
